{% extends "sb_admin2/index.html" %}

{% block content %}
<h2>Crear Nuevo Reparto</h2>

<!-- Mostrar mensajes de error -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="card">
    <div class="card-body shadow animated--grow-in">
        <form method="POST" class="row g-3">
        <input type="hidden" name="sucursal" value="{{ user.sucursal }}">
            {% csrf_token %}
            <div class="col-md-4 mb-3">
                <label for="fecha" class="form-label">Fecha:</label>
                <input type="date" class="form-control" name="fecha" value="{{ hoy }}" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="nro_reparto" class="form-label">Nro. Reparto:</label>
                <input type="number" class="form-control" name="nro_reparto" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="chofer" class="form-label">Chofer:</label>
                <select class="form-control" name="chofer" required>
                    <option value="">Seleccione un Chofer</option>
                    {% for chofer in choferes %}
                        <option value="{{ chofer.id }}">{{ chofer.nombre }} {{ chofer.apellido }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="acompanante" class="form-label">Acompañante:</label>
                <select class="form-control" name="acompanante">
                    <option value="">Sin acompañante</option>
                    {% for acompanante in acompanantes %}
                        <option value="{{ acompanante.id }}">{{ acompanante.nombre }} {{ acompanante.apellido }}</option>
                    {% endfor %}
                </select>
            </div>            
            <div class="col-md-4 mb-3">
                <label for="zona" class="form-label">Zona:</label>
                <select class="form-control" name="zona" required>
                    <option value="">Seleccione una Zona</option>
                    {% for zona in zonas %}
                        <option value="{{ zona.id }}">{{ zona.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="vehiculo" class="form-label">Vehículo:</label>
                <select class="form-control" name="vehiculo" required>
                    <option value="">Seleccione un Vehiculo</option>
                    {% for vehiculo in vehiculos %}
                        <option value="{{ vehiculo.id }}">{{ vehiculo.dominio }} - {{ vehiculo.marca }} {{ vehiculo.modelo }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="estado" class="form-label">Estado:</label>
                <select class="form-control" name="estado" required>
                    <option value="Abierto">Abierto</option>
                    <option value="Cerrado">Cerrado</option>
                    <option value="Cancelado">Cancelado</option>
                    <option value="Finalizado">Finalizado</option>
                </select>
            </div>
            <div class="col-12 row justify-content-center">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'listar_repartos' %}" class="btn btn-danger btn-block">Cancelar</a>
                </div>
            </div>
        </form>
            </div>
</div>
{% endblock %}
