<!-- listar_repartos.html -->
{% extends "sb_admin2/index.html" %}

{% block content %}
<h2>Listado de Repartos</h2>

<!-- Barra de búsqueda -->
<form id="filter-form" class="form-inline my-3 d-flex justify-content-between align-items-center" method="GET">
    <!-- Contenedor de búsqueda y filtros -->
    <div class="d-flex align-items-center flex-wrap">
        <!-- Campo de búsqueda -->
        <div class="input-group mr-3" style="width: 400px;">
            <input type="text" name="search" class="form-control bg-light border-1" placeholder="Buscar Reparto..." value="{{ search }}" aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
                <a href="{% url 'listar_repartos' %}" class="btn btn-danger">
                    <i class="fas fa-times fa-sm"></i>
                </a>
            </div>
        </div>

        <!-- Selector de estado -->
        <div class="d-flex align-items-center ml-3">
            <label for="estado" class="mr-2 mb-0"><strong>Estado de Repartos:</strong></label>
            <select id="estado-select" name="estado" class="form-control">
                <option value="">Todos</option>
                <option value="Abierto" {% if estado == "Abierto" %}selected{% endif %}>Abierto</option>
                <option value="Cerrado" {% if estado == "Cerrado" %}selected{% endif %}>Cerrado</option>
                <option value="Cancelado" {% if estado == "Cancelado" %}selected{% endif %}>Cancelado</option>
                <option value="Finalizado" {% if estado == "Finalizado" %}selected{% endif %}>Finalizado</option>
            </select>
        </div>
    </div>

    <!-- Botón Crear Reparto -->
    <div>
        <a href="{% url 'crear_reparto' %}" class="btn btn-info">Crear Reparto</a>
    </div>
</form>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Repartos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Nro de Reparto</th>
                        <th>Chofer</th>
                        <th>Acompañante</th>
                        <th>Sucursal</th>
                        <th>Zona</th>
                        <th>Facturas</th>
                        <th>Estado</th>
                        <th>Entregas</th>
                        <th>Incompletos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    {% for reparto in repartos %}
                    <tr>
                        <td>{{ reparto.fecha }}</td>
                        <td>{{ reparto.nro_reparto }}</td>
                        <td>{{ reparto.chofer.nombre }}</td>
                        <td>{{ reparto.acompanante.nombre }}</td>
                        <td>{{ reparto.sucursal }}</td>
                        <td>{{ reparto.zona }}</td>
                        <td>{{ reparto.facturas }}</td>
                        <td>
                            <span style="{% if reparto.estado_reparto == 'Finalizado' %}color: green; font-weight: bold;
                            {% elif reparto.estado_reparto == 'Abierto' %}color: blue; font-weight: bold;
                            {% elif reparto.estado_reparto == 'Cerrado' %}color: red; font-weight: bold;
                            {% elif reparto.estado_reparto == 'Cancelado' %}color: red; font-weight: bold;{% endif %}">
                                {{ reparto.estado_reparto }}
                            </span>
                        </td>
                        <td>{{ reparto.entregas }}</td>
                        <td>{{ reparto.incompletos }}</td>
                        <td>
                            <a href="{% url 'editar_reparto' reparto.id %}" class="btn btn-info btn-sm">Editar</a>
                            <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal{{ reparto.id }}">Eliminar</button>
                        </td>
                    </tr>

                    <!-- Modal de confirmación de eliminación de reparto -->
                    <div class="modal fade" id="deleteModal{{ reparto.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ reparto.id }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel{{ reparto.id }}">Confirmar Eliminación</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ¿Estás seguro que deseas eliminar el reparto <strong>Nro.: {{ reparto.nro_reparto }} del {{ reparto.fecha }}</strong>?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <form method="POST" action="{% url 'eliminar_reparto' reparto.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Script para manejar el cambio de estado -->
<script>
    document.getElementById('estado-select').addEventListener('change', function() {
        document.getElementById('filter-form').submit();
    });
</script>
{% endblock %}
