{% extends 'base/layouts/base.html' %}
{% load static %}

{% block title %}Editar Usuario - NET-LogistK ISLA{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Editar Usuario</h1>
    </div>

    {% include 'usuarios/components/formulario_usuario.html' with usuario=usuario %}

    <a href="{% url 'listar_usuarios' %}" class="btn btn-danger btn-block">Cancelar</a>
</div>
{% endblock %}

{% block css %}
<link href="{% static 'vendor/select2/css/select2.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="{% static 'vendor/select2/js/select2.min.js' %}"></script>
<script>
$(document).ready(function() {
    // Inicializar Select2 para el campo de rol
    $('#role').select2({
        theme: 'bootstrap4',
        placeholder: 'Seleccione un rol',
        allowClear: true
    });
});
</script>
{% endblock %} 