<!-- templates/usuarios/profile.html -->
{% extends 'sb_admin2/index.html' %}

{% block content %}
<h2>Perfil de Usuario</h2>

<div class="container mt-4">
    <div class="row mb-4">
        <!-- Foto de perfil y detalles de la cuenta -->
        <div class="col-lg-4 text-center mb-4">
            <div class="card">
                <div class="card-body shadow animated--grow-in">
                    <h5 class="card-title">Foto de Perfil</h5>
                    {% load static %}
                    <img src="{% if selected_profile.image and selected_profile.image.url %}{{ selected_profile.image.url }}{% else %}{% static 'img/person.png' %}{% endif %}" 
                    alt="Foto de Perfil" class="img-fluid rounded-circle" style="object-fit: contain; max-width: 300px;">
                    
                    <p class="text-muted">JPG o PNG de no más de 5 MB</p>
                </div>
            </div>
        </div>

        <!-- Formulario de edición de perfil -->
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body shadow animated--grow-in">
                    <h5 class="card-title">Detalles de la Cuenta</h5>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_image">Subir nueva imagen:</label>
                            {{ p_form.image }}
                        </div>
                        <div class="form-group">
                            <label for="username">Nombre de Usuario</label>
                            {{ u_form.username }}
                        </div>
                        <div class="form-group">
                            <label for="first_name">Nombre</label>
                            {{ u_form.first_name }}
                        </div>
                        <div class="form-group">
                            <label for="last_name">Apellido</label>
                            {{ u_form.last_name }}
                        </div>
                        <div class="form-group">
                            <label for="email">Correo Electrónico</label>
                            {{ u_form.email }}
                        </div>
                        <div class="form-group">
                            <label for="group">Grupo</label>
                            <select name="group" class="form-control">
                                {% for group in groups %}
                                    <option value="{{ group.id }}" {% if user_group == group %}selected{% endif %}>{{ group.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary btn-block">Guardar cambios</button>
                            </div>
                            <div class="col-md-3">
                                <a href="{% url 'listar_usuarios' %}" class="btn btn-danger btn-block">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Formulario de cambio de contraseña -->
    <div class="row mt-4 mb-4">
        <div class="col-lg-8 offset-lg-4">
            <div class="card">
                <div class="card-body shadow animated--grow-in">
                    <h5 class="card-title">Cambiar Contraseña</h5>
                    <a href="{% url 'cambiar_contrasena' %}" class="btn btn-warning btn-block">Cambiar Contraseña</a>
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>
{% endblock %}
