<!-- sb_admin2/index.html -->
<!DOCTYPE html>
<html lang="es-ar">
{% load static %}    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}NET-LogistK ISLA{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <!-- Archivos CSS -->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">

    <!-- Fuentes personalizadas -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

</head>

<body id="page-top">
    <!-- Contenedor principal -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Marca de la aplicación -->
            <a class="sidebar-brand d-flex align-items-center bg-gradient-light justify-content-center" href="{% url 'dashboard' %}" style=" border-radius: 10px;">
                <div class="sidebar-brand-icon">
                    <img src="{% static 'img/NET-LOGISTK.jpg' %}" alt="Net-LogistK Logo" width="70" height="50" style="border-radius: 10%; border: 1px solid #ccc;">
                </div>
                <div class="sidebar-brand-text mx-1">
                    <span style="color: rgb(0, 24, 206); font-weight: bold; text-shadow: 1px 1px 4px rgb(48, 147, 239);">NET-LogistK</span> 
                    <span style="color: rgb(238, 11, 41); font-weight: bold; text-shadow: 1px 1px 4px rgb(48, 147, 239);">ISLA</span>
                </div>
            </a>

            <!-- Separador -->
            <hr class="sidebar-divider my-0">

            <!-- Elemento de navegación - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Separador -->
            <hr class="sidebar-divider">

            <!-- Encabezado del menú -->
            <div class="sidebar-heading">
                Logística
            </div>

            <!-- Repartos con menú desplegable -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRepartos"
                    aria-expanded="true" aria-controls="collapseRepartos">
                    <i class="fas fa-fw fa-road"></i>
                    <span>Repartos</span>
                </a>
                <div id="collapseRepartos" class="collapse" aria-labelledby="headingRepartos" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Opciones de Repartos:</h6>
                        <a class="collapse-item" href="{% url 'listar_repartos' %}">Listar Repartos</a>
                        <a class="collapse-item" href="{% url 'crear_reparto' %}">Crear Reparto</a>
                    </div>
                </div>
            </li>

            <!-- Pedidos con menú desplegable -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePedidos"
                    aria-expanded="true" aria-controls="collapsePedidos">
                    <i class="fas fa-fw fa-clipboard-list"></i>
                    <span>Pedidos</span>
                </a>
                <div id="collapsePedidos" class="collapse" aria-labelledby="headingPedidos" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Opciones de Pedidos:</h6>
                        <a class="collapse-item" href="{% url 'listar_pedidos' %}">Listar Pedidos</a>
                        <a class="collapse-item" href="{% url 'agregar_pedidos' %}">Agregar Pedidos</a>
                        <a class="collapse-item" href="{% url 'importar_y_previsualizar_pedidos' %}">Importar Pedidos</a>
                    </div>
                </div>
            </li>

            <!-- Tracking con menú desplegable -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTracking"
                    aria-expanded="true" aria-controls="collapseRepartos">
                    <i class="fas fa-fw fa-map-marked-alt"></i>
                    <span>Tracking</span>
                </a>
                <div id="collapseTracking" class="collapse" aria-labelledby="headingTracking" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Opciones de Tracking:</h6>
                        <a class="collapse-item" href="{% url 'mapa_tracking' %}">Mapa Tracking</a>
                        <a class="collapse-item" href="{% url 'cronograma' %}">Cronograma</a>
                    </div>
                </div>
            </li>

            <!-- Recursos con menú desplegable -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRecursos"
                    aria-expanded="true" aria-controls="collapseRepartos">
                    <i class="fas fa-fw fa-users-cog"></i>
                    <span>Recursos</span>
                </a>
                <div id="collapseRecursos" class="collapse" aria-labelledby="headingRecursos" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Opciones de Recursos:</h6>
                        <a class="collapse-item" href="{% url 'listar_recursos' %}">Listar Recursos</a>
                        <a class="collapse-item" href="{% url 'crear_recurso' %}">Agregar Recurso</a>
                    </div>
                </div>
            </li>

            <!-- Separador -->
            <hr class="sidebar-divider">

            <!-- Encabezado del menú -->
            <div class="sidebar-heading">
                Utilidades
            </div>

            <!-- Mensajes con menú desplegable -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMensajes"
                    aria-expanded="true" aria-controls="collapseMensajes">
                    <i class="fas fa-fw fa-mail-bulk"></i>
                    <span>Mensajes</span>
                </a>
                <div id="collapseMensajes" class="collapse" aria-labelledby="headingMensajes" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Opciones de Mensajes:</h6>
                        <a class="collapse-item" href="{% url 'ver_mensajes' %}">Ver Mensajes</a>
                        <a class="collapse-item" href="{% url 'enviar_mensaje' %}">Enviar Mensaje</a>
                    </div>
                </div>
            </li>

            <!-- Separador -->
            <hr class="sidebar-divider">

            <!-- Encabezado del menú -->
            <div class="sidebar-heading">
                Ajustes
            </div>

            <!-- Vehículos con menú desplegable -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVehiculos"
                    aria-expanded="true" aria-controls="collapseVehiculos">
                    <i class="fas fa-fw fa-truck"></i>
                    <span>Vehículos</span>
                </a>
                <div id="collapseVehiculos" class="collapse" aria-labelledby="headingVehiculos" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Opciones de Vehículos:</h6>
                        <!-- <a class="collapse-item" href="{% url 'ver_vehiculos' %}">Listar Vehículos</a> -->
                        <a class="collapse-item" href="{% url 'ver_vehiculos' %}" data-url="{% url 'ver_vehiculos' %}">Listar Vehículos</a>
                        <a class="collapse-item" href="{% url 'agregar_vehiculo' %}">Agregar Vehículo</a>
                    </div>
                </div>
            </li>

            <!-- Usuarios con menú desplegable -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsuarios"
                    aria-expanded="true" aria-controls="collapseUsuarios">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Usuarios</span>
                </a>
                <div id="collapseUsuarios" class="collapse" aria-labelledby="headingUsuarios" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Opciones de Usuarios:</h6>
                        <a class="collapse-item" href="{% url 'listar_usuarios' %}">Listar Usuarios</a>
                        <a class="collapse-item" href="{% url 'crear_usuario' %}">Agregar Usuario</a>
                    </div>
                </div>
            </li>

            <!-- Párametros con menú desplegable -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#configuracionDispositivo" aria-expanded="true" aria-controls="configuracionDispositivo">
                    <i class="fas fa-fw fa-mobile-alt"></i>
                    <span>Dispositivos</span>
                </a>
                <div id="configuracionDispositivo" class="collapse" aria-labelledby="headingDispositivo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gestión de Dispositivos:</h6>
                        <a class="collapse-item" href="{% url 'listar_dispositivos' %}">Listar Dispositivos</a>
                        <a class="collapse-item" href="{% url 'crear_dispositivo' %}">Agregar Dispositivo</a>
                    </div>
                </div>
            </li>

            <!-- Párametros con menú desplegable -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#configuracionParametros" aria-expanded="true" aria-controls="configuracionParametros">
                    <i class="fas fa-fw fa-cogs"></i>
                    <span>Parámetros</span>
                </a>
                <div id="configuracionParametros" class="collapse" aria-labelledby="headingParametros" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gestión de Parámetros:</h6>
                        <a class="collapse-item" href="{% url 'listar_sucursales' %}">Sucursales</a>
                        <a class="collapse-item" href="{% url 'listar_marcas' %}">Marcas</a>
                        <a class="collapse-item" href="{% url 'listar_modelos' %}">Modelos</a>
                        <a class="collapse-item" href="{% url 'listar_tipos_service' %}">Tipos de Service</a>
                        <a class="collapse-item" href="{% url 'listar_zonas' %}">Zonas de Reparto</a>
                    </div>
                </div>
            </li>

            <!-- Separador -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Botón para alternar la visibilidad del menú -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- Fin del Sidebar -->

        <!-- Contenedor de contenido -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Contenido principal -->
            <div id="content">

                <!-- Barra superior -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Mensajes Flash -->
                    {% if messages %}
                        <div class="container mt-3">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                    <!-- Botón para la barra lateral en dispositivos móviles -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Barra superior - Navegación -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Ítem de navegación - Mensajes -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">
                                    {% if mensajes_no_leidos > 0 %}
                                        {{ mensajes_no_leidos }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </span>                                
                            </a>
                            <!-- Dropdown - Mensajes -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Centro de Mensajes
                                </h6>
                                
                                {% for mensaje in mensajes_recientes %}
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'leer_mensaje' mensaje.id %}">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="{% static 'img/person.png' %}" alt="Imagen de perfil">
                                            <div class="status-indicator bg-success"></div>
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="text-truncate">{{ mensaje.contenido|truncatewords:10 }}</div>
                                            <div class="small text-gray-500">{{ mensaje.emisor }} · {{ mensaje.fecha_envio|date:"d M. Y H:i" }}</div>
                                        </div>
                                    </a>
                                {% empty %}
                                    <p class="dropdown-item text-center small text-gray-500">No tienes mensajes nuevos.</p>
                                {% endfor %}                            
                                
                                <a class="dropdown-item text-center small text-gray-600" href="{% url 'ver_mensajes' %}"><strong>Ver todos los Mensajes</strong></a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Ítem de navegación - Información del usuario -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="{% url 'perfil_usuario' %}" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <!-- Nombre completo del usuario -->
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.session.user_nombre }} {{ request.session.user_apellido }}</span>
                                <!-- Ícono dinámico según el rol -->
                                <i class="fas {{ request.session.firebase_user_icon|default:'fa-user' }}"></i>
                            </a>
                            
                            <!-- Dropdown - Información del usuario -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a href="{% url 'perfil_usuario' %}" class="dropdown-item">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesión
                                </a>
                            </div>
                        </li>


                    </ul>

                </nav>
                <!-- Fin de la barra superior -->

                <!-- Contenido de la página -->
                <div class="container-fluid">
                    {% block content %}
                    <!-- Encabezado de la página -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    <!-- Botón de Generar Reporte, incluyendo la fecha como parámetro GET -->
                        <a href="{% url 'exportar_excel' %}?fecha={{ fecha_actual|date:'Y-m-d' }}" 
                            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i> Exportar a Excel
                        </a>
                    </div>
                    <!-- Selector de Fecha en el Dashboard -->
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <form method="get" action="">
                                <label for="fecha">Seleccionar Fecha:</label>
                                <input type="date" id="fecha" name="fecha" class="form-control w-50" 
                                    value="{{ fecha_actual|date:"Y-m-d" }}"
                                    onchange="this.form.submit()">
                            </form>
                        </div>
                    </div>

                    <!-- Contenido de Tarjetas -->
                    <div class="row">
                        <!-- Tarjeta de Total de Repartos -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Total Repartos</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_repartos_hoy }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tarjeta de Vehículos Disponibles -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Vehículos Disponibles</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_vehiculos }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-truck fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Tarjeta de Repartos Finalizados (Porcentaje) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Repartos Finalizados</div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                        {{ porcentaje_repartos_finalizados|default:"0"|floatformat:2 }}%
                                                    </div>
                                                </div>
                                                
                                                <div class="col">
                                                    
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: {{ porcentaje_repartos_finalizados|default_if_none:0|floatformat:0|add:'%' }}" 
                                                            aria-valuenow="{{ porcentaje_repartos_finalizados|default:'0'|floatformat:0 }}" 
                                                            aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-check fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tarjeta de Entregas Incompletas  -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Entregas Incompletas</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_entregas_incompletas_hoy }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar-times fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Gráficos -->
                    <div class="row">

                        <!-- Gráfico de área -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">REPARTOS MENSUALES</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Gráfico circular -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">ESTADISTICAS DE REPARTOS</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-pie">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Abierto
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Cerrado
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Finalizado
                                        </span>
                                    </div>
                                    <!-- Botón para ver repartos filtrados -->
                                    <div class="text-center">
                                        <form method="get" action="{% url 'repartos_filtrados' %}">
                                            <input type="hidden" name="fecha" value="{{ fecha_actual|date:'Y-m-d' }}">
                                            <button type="submit" class="btn-icon-split btn-primary btn-sm">VER REPARTOS</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {% endblock %}
                </div>
                
            </div>
            <!-- Fin del contenido principal -->

            <!-- Pie de página -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; App NET-LogistK ISLA</span> |
                        <a href="https://carlosisla.com.ar/" target="_blank" class="text-primary">Carlos Isla y Cía.</a>
                    </div>
                </div>
            </footer>

            <!-- Fin del pie de página -->

        </div>
        <!-- Fin del contenedor de contenido -->

    </div>
    <!-- Fin del contenedor principal -->

    <!-- Botón para subir arriba -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Modal para cerrar sesión -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Listo para salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecciona "Cerrar sesión" si estás listo para terminar tu sesión actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url 'login' %}">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>

<!-- Scripts para los gráficos -->
<script type="application/json" id="labelsRepartosMensuales">
    {{ labels_repartos_mensuales|safe }}
</script>
<script type="application/json" id="dataRepartosMensuales">
    {{ data_repartos_mensuales|safe }}
</script>
<script type="application/json" id="labelsEstados">
    {{ labels_estados|safe }}
</script>
<script type="application/json" id="dataEstados">
    {{ data_estados|safe }}
</script>


<!-- Cargar scripts principales -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Script de Chart.js -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<!-- Script personalizado para cargar el gráfico de repartos mensuales -->
<script src="{% static 'js/dashboard-charts.js' %}"></script>
<!-- Scripts para los gráficos circulares -->
<script src="{% static 'js/dashboard-charts-circular.js' %}"></script>

</body>
</html>
