{% extends "base/layouts/base.html" %}
{% load static %}

{% block title %}Crear Dispositivo - NET-LogistK ISLA{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Encabezado de página -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Crear Dispositivo</h1>
    </div>

    <!-- Formulario -->
    <form method="POST">
        {% csrf_token %}
        {% include "dispositivos/components/formulario_dispositivo.html" %}
    </form>
</div>
{% endblock %}
